<!-- navbar -->
<div class="ui attached stackable menu">
  <div class="ui container">
    <a class="item">
      Big Innovation
    </a>
    <a class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search icon"></i>
      </div>
    </a>
    <a class="item">
      <i class=" home icon"></i>
      Home
    </a>
    <a class="item">
      <i class="users icon"></i>
      Community
    </a>
    <a class="item">
      <i class="mail icon"></i>
      Messages<span></span>
      <div class="floating ui red label">3</div>
    </a>
    <a class="item">
      <i class=" bell icon"></i>
      Notification
      <div class="floating ui red label">8</div>
    </a>
    <div class="ui simple dropdown item">
      <img class="ui avatar image" src="assets/images/profile_image.jpg"><span>Sameera</span>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div></div>
        <a class="item"><i class="edit icon"></i> Edit Profile</a>
        <a class="item"><i class="globe icon"></i> Language</a>
        <a class="item"><i class="settings icon"></i> Account Settings</a>
        <a class="item"><i class="university icon"></i> Manage Pavilions</a>
        <a class="item"><i class="question icon"></i> Help</a>
        <a class="item"><i class="sign out alternate icon"></i> Sign Out</a>
      </div>
    </div>
  </div>
</div>
<!-- navbar-end -->
<div class="ui card raised text container segment">
  <div class="content">
    <div class="right floated ">4d</div>
    <img class="ui avatar image" src="assets/images/pic.jpg">
    <div class="profile-description">
      <span>Elliot</span><br>
      <span class="meta">Director of Sales at Big Innovation</span>
      <span></span>
    </div>
  </div>

  <div class="description">
    The Content Blockchain is a network that is run for the industry by the industry. Media companies are encouraged
    to
    support the network by running their own node. A node can be used to validate transactions on the blockchain or to
    connect to the network in other ways.
  </div>
  <div class="image">
    <img src="assets/images/block chain.png">
  </div>
  <div class="content">
    <i class="thumbs up outline icon"></i>
    17 likes
    <i class="comment outline icon"></i>
    3 comments
    <span class="right floated">
      <i class="share icon"></i>
      Share
    </span>
  </div>
</div>
<div class="ui card raised text container segment">
  <div class="content">
    <div class="right floated ">4d</div>
    <img class="ui avatar image" src="assets/images/pic.jpg">
    <div class="profile-description">
      <span>Elliot</span><br>
      <span class="meta">Director of Sales at Big Innovation</span>
      <span></span>
    </div>
  </div>

  <div class="description">
    The Content Blockchain is a network that is run for the industry by the industry. Media companies are encouraged
    to
    support the network by running their own node. A node can be used to validate transactions on the blockchain or to
    connect to the network in other ways.
  </div>
  <div class="image">
    <img src="assets/images/block chain.png">
  </div>
  <div class="content">
    <i class="thumbs up outline icon"></i>
    17 likes
    <i class="comment outline icon"></i>
    3 comments
    <span class="right floated">
      <i class="share icon"></i>
      Share
    </span>
  </div>
</div>
<div class="ui card raised text container segment">
  <div class="content">
    <div class="right floated ">4d</div>
    <img class="ui avatar image" src="assets/images/pic.jpg">
    <div class="profile-description">
      <span>Elliot</span><br>
      <span class="meta">Director of Sales at Big Innovation</span>
      <span></span>
    </div>
  </div>

  <div class="description">
    The Content Blockchain is a network that is run for the industry by the industry. Media companies are encouraged
    to
    support the network by running their own node. A node can be used to validate transactions on the blockchain or to
    connect to the network in other ways.
  </div>
  <div class="image">
    <img src="assets/images/block chain.png">
  </div>
  <div class="content">
    <i class="thumbs up outline icon"></i>
    17 likes
    <i class="comment outline icon"></i>
    3 comments
    <span class="right floated">
      <i class="share icon"></i>
      Share
    </span>
  </div>
</div>
<div class="ui card raised text container segment">
  <div class="content">
    <div class="right floated ">4d</div>
    <img class="ui avatar image" src="assets/images/pic.jpg">
    <div class="profile-description">
      <span>Elliot</span><br>
      <span class="meta">Director of Sales at Big Innovation</span>
      <span></span>
    </div>
  </div>

  <div class="description">
    The Content Blockchain is a network that is run for the industry by the industry. Media companies are encouraged
    to
    support the network by running their own node. A node can be used to validate transactions on the blockchain or to
    connect to the network in other ways.
  </div>
  <div class="image">
    <img src="assets/images/block chain.png">
  </div>
  <div class="content">
    <i class="thumbs up outline icon"></i>
    17 likes
    <i class="comment outline icon"></i>
    3 comments
    <span class="right floated">
      <i class="share icon"></i>
      Share
    </span>
  </div>
</div>
<div class="ui card raised text container segment">
  <div class="content">
    <div class="right floated ">4d</div>
    <img class="ui avatar image" src="assets/images/pic.jpg">
    <div class="profile-description">
      <span>Elliot</span><br>
      <span class="meta">Director of Sales at Big Innovation</span>
      <span></span>
    </div>
  </div>

  <div class="description">
    The Content Blockchain is a network that is run for the industry by the industry. Media companies are encouraged
    to
    support the network by running their own node. A node can be used to validate transactions on the blockchain or to
    connect to the network in other ways.
  </div>
  <div class="image">
    <img src="assets/images/block chain.png">
  </div>
  <div class="content">
    <i class="thumbs up outline icon"></i>
    17 likes
    <i class="comment outline icon"></i>
    3 comments
    <span class="right floated">
      <i class="share icon"></i>
      Share
    </span>
  </div>
</div>