<!-- Nav bar start -->
<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="#" class="header item">
      <img class="logo" src="assets/images/logo.png">
      Big Innovation
    </a>
    <a class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search icon"></i>
      </div>
    </a>
    <a class="item">
      <i class=" home icon"></i>
      Home
    </a>
    <a class="item">
      <i class="users icon"></i>
      Community
    </a>
    <a class="item">
      <i class="mail icon"></i>
      Messages<span></span>
      <div class="floating ui red label">3</div>
    </a>
    <a class="item">
      <i class=" bell icon"></i>
      Notification
      <div class="floating ui red label">8</div>
    </a>
    <div class="ui simple dropdown item">
      <img class="ui avatar image" src="assets/images/profile_image.jpg"><span>Sameera</span>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div></div>
        <a class="item"><i class="edit icon"></i> Edit Profile</a>
        <a class="item"><i class="globe icon"></i> Language</a>
        <a class="item"><i class="settings icon"></i> Account Settings</a>
        <a class="item"><i class="university icon"></i> Manage Pavilions</a>
        <a class="item"><i class="question icon"></i> Help</a>
        <a class="item"><i class="sign out alternate icon"></i> Sign Out</a>
      </div>
    </div>
  </div>
</div>
<!-- Nav bar end -->

<!-- Section Start -->
<!-- <div class="section main container">
  <div class="ui four statistics">
    <div class="statistic">
      <div class="value">
        &nbsp;21+
      </div>
      <div class="label">
        Pavilions
      </div>
    </div>
    <div class="statistic">
      <div class=" value">
        15
      </div>
      <div class="label">
        Events
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <i class="users icon"></i> 15
      </div>
      <div class="label">
        Members
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <i class="handshake icon"></i>
        42
      </div>
      <div class="label">
        Community
      </div>
    </div>
  </div>
</div> -->
<!-- Section-end -->

<div class="ui four column grid events">
  <div class="column ">
    <div class="ui fluid card events-cards ">
      <div class="image">
        <img src="assets/images/event1.jpg">
      </div>
      <div class="content">
        <a class="header">Daniel Louise</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card events-cards ">
      <div class="image">
        <img src="assets/images/event2.jpg">
      </div>
      <div class="content">
        <a class="header">Daniel Louise</a>
      </div>
    </div>
  </div>
  <div class="column ">
    <div class="ui fluid card events-cards ">
      <div class="image">
        <img src="assets/images/event3.jpg">
      </div>
      <div class="content">
        <a class="header">Helen Troy</a>
      </div>
    </div>
  </div>
  <div class="column ">
    <div class="ui fluid card events-cards ">
      <div class="image">
        <img src="assets/images/event4.png">
      </div>
      <div class="content">
        <a class="header">Elliot Fu</a>
      </div>
    </div>
  </div>
</div>
<div class="ui four column grid events">
  <div class="column ">
    <div class="ui fluid card events-cards ">
      <div class="image">
        <img src="assets/images/event1.jpg">
      </div>
      <div class="content">
        <a class="header">Daniel Louise</a>
      </div>
    </div>
  </div>
  <div class="column ">
    <div class="ui fluid card">
      <div class="image">
        <img src="assets/images/event2.jpg">
      </div>
      <div class="content">
        <a class="header">Daniel Louise</a>
      </div>
      <div class="extra content">
        <span class="left floated calendar">
          <i class="calendar icon"></i>
          21-23 Dec
        </span>
        <!-- <i class="calendar check outline icon"><span class="meta">21-23 Dec</span> </i>
        <div class="right floated meta">8 h</div> -->
      </div>
    </div>
  </div>
  <div class="column ">
    <div class="ui fluid card events-cards ">
      <div class="image">
        <img src="assets/images/event3.jpg">
      </div>
      <div class="content">
        <a class="header">Helen Troy</a>
      </div>
    </div>
  </div>
  <div class="column ">
    <button class="ui button centered">
      See More
    </button>
  </div>
</div>

<div class="ui card container segment post-card card-list">
  <div class="ui grid">
    <div class="ten wide column">
      <div class="ui large transparent left icon input">
        <i class="pencil alternate icon"></i>
        <input type="text" placeholder="Post here...">
      </div>
    </div>
    <div class="two wide column"><i class="camera icon large"> </i></div>
    <div class="two wide column"><i class="file alternate icon large"></i></div>
    <div class="two wide column"><i class="ellipsis horizontal icon large"></i></div>
    <hr width="100%">
  </div>
</div>

<div class="ui main text fluid-container">
  <div class="ui grid">
    <div class="doubling three column row">
      <div class="four wide column">
        <div class="ui segments">
          <div class="ui segment ">
            <p class="pavilions">Pavilions <i class="plus icon position-right"></i></p>
          </div>
          <div class="ui segment">
            <img class="w3-round-xxlarge" src="assets/images/ai.jpg" style="width:40px;border-radius: 4px;">
            <span class="pavilions-list">Artifical
              Intelligence</span>
          </div>
          <div class="ui segment">
            <img class="w3-round-xxlarge" src="assets/images/block_chain.jpg" style="width:40px;border-radius: 4px;">
            <span class="pavilions-list">Blockchain</span>

          </div>
          <div class="ui segment">
            <img class="w3-round-xxlarge" src="assets/images/augmented_reality.jpeg"
              style="width:40px;border-radius: 4px;">
            <span class="pavilions-list">Augmented Reality</span>
          </div>
          <div class="ui segment">
            <img class="w3-round-xxlarge" src="assets/images/angular.png" style="width:40px;border-radius: 4px;">
            <span class="pavilions-list">Angular Vs
              React</span>
          </div>
        </div>
      </div>
      <div class="eight wide column">
        <div class="column">
          <div class="ui centered card card-list">
            <div class="content">
              <div class="right floated meta">8 h</div>
              <div class="header">
                <div class="author">
                  <img class="ui avatar image" src="assets/images/pic.jpg"> Elliot
                </div>
              </div>
              <div class="meta custom-meta">
                <span class="category">Director of Sales at Big Innovation</span>
              </div>
              <div class="description">
                <p>
                  The Content Blockchain is a network that is run for the industry by the industry. Media companies are
                  encouraged
                  to
                  support the network by running their own node. A node can be used to validate transactions on the
                  blockchain or to
                  connect to the network in other ways.
                </p>
              </div>
              <div class="image">
                <img src="assets/images/block chain.png" width="100%">
              </div>
            </div>
            <div class="content">
              <span class="left floated like">
                <i class="like icon"></i>
                25 Likes
              </span>
              <span class="left floated comment">
                <i class="comment outline icon"></i>
                10 Comments
              </span>
              <span class="right floated share">
                <i class="share icon"></i>
                Share
              </span>
            </div>
            <div class="extra content">
              <div class="ui large transparent left icon input">
                <i class="heart outline icon"></i>
                <input type="text" placeholder="Add Comment...">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="four wide column">
        <div class="ui vertical menu custom">
          <div class="item">
            <div class="ui transparent icon input">
              <input type="text" placeholder="Search user...">
              <i class="search icon"></i>
            </div>
          </div>
          <a class="teal item"> <img src="assets/images/profile_pic.png" style="width:20px">
            User 1
            <div class="ui simple dropdown position-right">
              <i class="ellipsis horizontal icon large"></i>

              <div class="left menu">
                <div></div>
                <a class="item" (click)="openChat()"><i class="edit icon"></i> Message</a>
                <a class="item"><i class="call icon"></i> Call</a>
              </div>
            </div>
          </a>
          <a class="item">
            <img src="assets/images/profile_pic.png" style="width:20px">
            User 2
            <div class="ui simple dropdown position-right">
              <i class="ellipsis horizontal icon large"></i>

              <div class="left menu">
                <div></div>
                <a class="item" (click)="openChat()"><i class="edit icon"></i> Message</a>
                <a class="item"><i class="call icon"></i> Call</a>
              </div>
            </div>
          </a>
          <a class="item">
            <img src="assets/images/profile_pic.png" style="width:20px">
            User 3
            <div class="ui simple dropdown position-right">
              <i class="ellipsis horizontal icon large"></i>

              <div class="left menu">
                <div></div>
                <a class="item" (click)="openChat()"><i class="edit icon"></i> Message</a>
                <a class="item"><i class="call icon"></i> Call</a>
              </div>
            </div>
          </a>
          <a class="item">
            <img src="assets/images/profile_pic.png" style="width:20px">
            User 4
            <div class="ui simple dropdown position-right">
              <i class="ellipsis horizontal icon large"></i>

              <div class="left menu">
                <div></div>
                <a class="item" (click)="openChat()"><i class="edit icon"></i> Message</a>
                <a class="item"><i class="call icon"></i> Call</a>
              </div>
            </div>
          </a>
          <a class="item">
            <img src="assets/images/profile_pic.png" style="width:20px">
            User 5
            <div class="ui simple dropdown position-right">
              <i class="ellipsis horizontal icon large"></i>

              <div class="left menu">
                <div></div>
                <a class="item" (click)="openChat()"><i class="edit icon"></i> Message</a>
                <a class="item"><i class="call icon"></i> Call</a>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Start Card 2 -->
<div class="ui container">
  <div class="ui grid">
    <div class="doubling column row">
      <div class="column">
        <div class="ui centered card card-list">
          <div class="content">
            <div class="right floated meta">8 d</div>
            <div class="header">
              <div class="author">
                <img class="ui avatar image" src="assets/images/bigo.jpg"> Big Innovation Centre
              </div>
            </div>
            <div class="meta custom-meta">
              <span class="category">252,158 followers</span>
            </div>
            <div class="description">
              <p>
                Artificial intelligence (AI) is an area of computer science that emphasizes the creation of intelligent
                machines
                that
                work and react like humans.
              </p>
            </div>
            <div class="image">
              <iframe width="100%" height="479" src="https://www.youtube.com/embed/kWmX3pd1f10" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
              </iframe>
            </div>
          </div>
          <div class="content">
            <span class="left floated like">
              <i class="like icon"></i>
              36 Likes
            </span>
            <span class="left floated comment">
              <i class="comment outline icon"></i>
              15 Comments
            </span>
            <span class="right floated share">
              <i class="share icon"></i>
              Share
            </span>
          </div>
          <div class="extra content">
            <div class="ui large transparent left icon input">
              <i class="heart outline icon"></i>
              <input type="text" placeholder="Add Comment...">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Card 2 -->

<!-- Start Card 3 -->
<div class="ui container">
  <div class="ui grid">
    <div class="doubling column row">
      <div class="column">
        <div class="ui centered card card-list">
          <div class="content">
            <div class="right floated meta">8 w</div>
            <div class="header">
              <div class="author">
                <img class="ui avatar image" src="assets/images/nancy.jpg"> Nancy
              </div>
            </div>
            <div class="meta custom-meta">
              <span class="category">AI & Data Science</span>
            </div>
            <div class="description">
              <p>
                Augmented reality (AR) adds digital elements to a live view often by using the camera on a smartphone.
                Examples of
                augmented reality experiences include Snapchat lenses and the game Pokemon Go. Virtual reality (VR)
                implies a
                complete
                immersion experience that shuts out the physical world.
              </p>
            </div>
            <div class="image">
              <img src="assets/images/augmented.jpg" style="height: 467px; width: 100%;">
            </div>
          </div>
          <div class="content">
            <span class="left floated like">
              <i class="like icon"></i>
              17 Likes
            </span>
            <span class="left floated comment">
              <i class="comment outline icon"></i>
              3 Comments
            </span>
            <span class="right floated share">
              <i class="share icon"></i>
              Share
            </span>
          </div>
          <div class="extra content">
            <div class="ui large transparent left icon input">
              <i class="heart outline icon"></i>
              <input type="text" placeholder="Add Comment...">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Card 3 -->

<!-- Start Card 4 -->
<div class="ui container">
  <div class="ui grid">
    <div class="doubling column row">
      <div class="column">
        <div class="ui centered card card-list">
          <div class="content">
            <div class="right floated meta">5 w</div>
            <div class="header">
              <div class="author">
                <img class="ui avatar image" src="assets/images/andrew.jpg"> Andrew
              </div>
            </div>
            <div class="meta custom-meta">
              <span class="category">CEO at Big Innovation</span>
            </div>
            <div class="description">
              <p>
                React is a purely JavaScript based library product. A primary difference is that Angular is a subset of
                HTML and
                React
                is not. React is a choice that you make when you are looking for reliable, intensive and straightforward
                programming. It
                is a relatively more advanced language than Angular.
              </p>
            </div>
            <div class="image">
              <iframe width="100%" height="479" src="https://www.youtube.com/embed/f8CzCX4XaFQ" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
              </iframe>
            </div>
          </div>
          <div class="content">
            <span class="left floated like">
              <i class="like icon"></i>
              10 Likes
            </span>
            <span class="left floated comment">
              <i class="comment outline icon"></i>
              8 Comments
            </span>
            <span class="right floated share">
              <i class="share icon"></i>
              Share
            </span>
          </div>
          <div class="extra content">
            <div class="ui large transparent left icon input">
              <i class="heart outline icon"></i>
              <input type="text" placeholder="Add Comment...">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Card 4 -->

<!-- Start See more post -->
<div class="ui center aligned basic segment">
  <div class="ui blue labeled icon button">
    See More Post
    <i class="add icon"></i>
  </div>
</div>
<!-- End See more post -->


<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">Chat</div>
  <div class="scrolling content">
    <div class="ui comments">
      <div class="comment">
        <a class="avatar">
          <img src="/images/avatar/small/stevie.jpg">
        </a>
        <div class="content">
          <a class="author">Stevie Feliciano</a>
          <div class="metadata">
            <div class="date">2 days ago</div>
          </div>
          <div class="text">
            Hey guys, I hope this example comment is helping you read this documentation.
          </div>
        </div>
      </div>
    </div>
    <div class="ui comments">
      <div class="comment">
        <a class="avatar">
          <img src="/images/avatar/small/stevie.jpg">
        </a>
        <div class="content">
          <a class="author">Stevie Feliciano</a>
          <div class="metadata">
            <div class="date">2 days ago</div>
          </div>
          <div class="text">
            Hey guys, I hope this example comment is helping you read this documentation.
          </div>
        </div>
      </div>
    </div>
    <div class="ui comments">
      <div class="comment">
        <a class="avatar">
          <img src="/images/avatar/small/stevie.jpg">
        </a>
        <div class="content">
          <a class="author">Stevie Feliciano</a>
          <div class="metadata">
            <div class="date">2 days ago</div>
          </div>
          <div class="text">
            Hey guys, I hope this example comment is helping you read this documentation.
          </div>
        </div>
      </div>
    </div>
    <div class="ui comments">
      <div class="comment">
        <a class="avatar">
          <img src="/images/avatar/small/stevie.jpg">
        </a>
        <div class="content">
          <a class="author">Stevie Feliciano</a>
          <div class="metadata">
            <div class="date">2 days ago</div>
          </div>
          <div class="text">
            Hey guys, I hope this example comment is helping you read this documentation.
          </div>
        </div>
      </div>
    </div>
    <div class="ui comments">
      <div class="comment">
        <a class="avatar">
          <img src="/images/avatar/small/stevie.jpg">
        </a>
        <div class="content">
          <a class="author">Stevie Feliciano</a>
          <div class="metadata">
            <div class="date">2 days ago</div>
          </div>
          <div class="text">
            Hey guys, I hope this example comment is helping you read this documentation.
          </div>
        </div>
      </div>
    </div>
    <div class="ui comments">
      <div class="comment">
        <a class="avatar">
          <img src="/images/avatar/small/stevie.jpg">
        </a>
        <div class="content">
          <a class="author">Stevie Feliciano</a>
          <div class="metadata">
            <div class="date">2 days ago</div>
          </div>
          <div class="text">
            Hey guys, I hope this example comment is helping you read this documentation.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="extra content">
    <div class="ui large transparent paper plane outline input custom-input">
      <i class="right paper plane outline icon"></i>
      <input type="text" placeholder="Type here...">
    </div>
  </div>
</div>
