<!-- navbar -->
<div class="ui attached stackable menu">
  <div class="ui container">
    <a class="item">
      Big Innovation
    </a>
    <a class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search icon"></i>
      </div>
    </a>
    <a class="item">
      <i class=" home icon"></i>
      Home
    </a>
    <a class="item">
      <i class="users icon"></i>
      Community
    </a>
    <a class="item">
      <i class="mail icon"></i>
      Messages<span></span>
      <div class="floating ui red label">3</div>
    </a>
    <a class="item">
      <i class=" bell icon"></i>
      Notification
      <div class="floating ui red label">8</div>
    </a>
    <div class="ui simple dropdown item">
      <img class="ui avatar image" src="assets/images/profile_image.jpg"><span>Sameera</span>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div></div>
        <a class="item"><i class="edit icon"></i> Edit Profile</a>
        <a class="item"><i class="globe icon"></i> Language</a>
        <a class="item"><i class="settings icon"></i> Account Settings</a>
        <a class="item"><i class="university icon"></i> Manage Pavilions</a>
        <a class="item"><i class="question icon"></i> Help</a>
        <a class="item"><i class="sign out alternate icon"></i> Sign Out</a>
      </div>
    </div>
  </div>
</div>
<!-- navbar-end -->
<!-- section -->
<div class="section">
  <div class="ui four statistics">
    <div class="statistic">
      <div class="value">
        &nbsp;21+
      </div>
      <div class="label">
        Pavilions
      </div>
    </div>
    <div class="statistic">
      <div class=" value">
        15
      </div>
      <div class="label">
        Events
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <i class="users icon"></i> 15
      </div>
      <div class="label">
        Members
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <i class="handshake icon"></i>
        42
      </div>
      <div class="label">
        Community
      </div>
    </div>
  </div>
</div>
<!-- section-end -->

<!-- post card -->
<div class="ui compact segments left-panel">
  <div class="ui segment ">
    <p class="pavilions">Pavilions <i class="plus icon add-pavilions"></i></p>
  </div>
  <div class="ui segment">
    <img class="w3-round-xxlarge" src="assets/images/ai.jpg" style="width:40px;border-radius: 4px;">
    <span class="pavilions-list">Artifical
      Intelligence</span>
  </div>
  <div class="ui segment">
    <img class="w3-round-xxlarge" src="assets/images/block_chain.jpg" style="width:40px;border-radius: 4px;">
    <span class="pavilions-list">Blockchain</span>

  </div>
  <div class="ui segment">
    <img class="w3-round-xxlarge" src="assets/images/augmented_reality.jpeg" style="width:40px;border-radius: 4px;">
    <span class="pavilions-list">Augmented Reality</span>
  </div>
  <div class="ui segment">
    <img class="w3-round-xxlarge" src="assets/images/angular.png" style="width:40px;border-radius: 4px;">
    <span class="pavilions-list">Angular Vs
      React</span>
  </div>
</div>
<div class="ui card container segment post-card">
  <div class="ui grid">
    <div class="ten wide column"><i class="pencil alternate icon large"></i> Post here</div>
    <div class="two wide column"><i class="camera icon large"> </i></div>
    <div class="two wide column"><i class="file alternate icon large"></i></div>
    <div class="two wide column"><i class="ellipsis horizontal icon large"></i></div>
    <hr width="100%">
  </div>
</div>
<!-- post card end -->

<!-- card 1 -->
<div class="ui card card-list raised text container segment">
  <div class="content">
    <div class="right floated ">8h</div>
    <img class="ui avatar image" src="assets/images/pic.jpg">
    <div class="profile-description">
      <span>Elliot</span><br>
      <span class="meta">Director of Sales at Big Innovation</span>
      <span></span>
    </div>
  </div>
  <div class="description">
    The Content Blockchain is a network that is run for the industry by the industry. Media companies are encouraged
    to
    support the network by running their own node. A node can be used to validate transactions on the blockchain or to
    connect to the network in other ways.
  </div>
  <div class="image">
    <img src="assets/images/block chain.png">
  </div>
  <div class="content">
    <i class="thumbs up outline icon"></i>
    17 likes
    <i class="comment outline icon"></i>
    3 comments
    <span class="right floated">
      <i class="share icon"></i>
      Share
    </span>
  </div>
</div>
<!-- card 1 end -->
<!-- card 2 -->
<div class="ui card card-list raised text container segment">
  <div class="content">
    <div class="right floated ">8d</div>
    <img class="ui avatar image" src="assets/images/bigo.jpg">
    <div class="profile-description">
      <span>Big Innovation Centre</span><br>
      <span class="meta">252,158 followers</span><br>
      <span></span>
    </div>
  </div>
  <div class="description">
    Artificial intelligence (AI) is an area of computer science that emphasizes the creation of intelligent machines
    that
    work and react like humans.
  </div>
  <div class="image">
    <iframe width="600" height="479" src="https://www.youtube.com/embed/kWmX3pd1f10" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="content">
    <i class="thumbs up outline icon"></i>
    17 likes
    <i class="comment outline icon"></i>
    3 comments
    <span class="right floated">
      <i class="share icon"></i>
      Share
    </span>
  </div>
</div>
<!-- card 2 end -->
<!-- card 3 -->
<div class="ui card card-list raised text container segment">
  <div class="content">
    <div class="right floated ">1w</div>
    <img class="ui avatar image" src="assets/images/nancy.jpg">
    <div class="profile-description">
      <span>Nancy</span><br>
      <span class="meta">AI & Data Science</span>
      <span></span>
    </div>
  </div>
  <div class="description">
    Augmented reality (AR) adds digital elements to a live view often by using the camera on a smartphone. Examples of
    augmented reality experiences include Snapchat lenses and the game Pokemon Go. Virtual reality (VR) implies a
    complete
    immersion experience that shuts out the physical world.
  </div>
  <div class="image">
    <img src="assets/images/augmented.jpg" style="height: 467px;">
  </div>
  <div class="content">
    <i class="thumbs up outline icon"></i>
    17 likes
    <i class="comment outline icon"></i>
    3 comments
    <span class="right floated">
      <i class="share icon"></i>
      Share
    </span>
  </div>
</div>
<!-- card 3 end -->
<!-- card 4 -->
<div class="ui card card-list raised text container segment">
  <div class="content">
    <div class="right floated ">5w</div>
    <img class="ui avatar image" src="assets/images/andrew.jpg">
    <div class="profile-description">
      <span>Andrew</span><br>
      <span class="meta">CEO at Big Innovation </span>
      <span></span>
    </div>
  </div>
  <div class="description">
    React is a purely JavaScript based library product. A primary difference is that Angular is a subset of HTML and
    React
    is not. React is a choice that you make when you are looking for reliable, intensive and straightforward
    programming. It
    is a relatively more advanced language than Angular.
  </div>
  <div class="image">
    <iframe width="600" height="479" src="https://www.youtube.com/embed/f8CzCX4XaFQ" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="content">
    <i class="thumbs up outline icon"></i>
    17 likes
    <i class="comment outline icon"></i>
    3 comments
    <span class="right floated">
      <i class="share icon"></i>
      Share
    </span>
  </div>
</div>
<!-- card 4 end -->
<!-- new post -->
<div class="ui center aligned basic segment">
  <div class="ui blue labeled icon button">
    New Post
    <i class="add icon"></i>
  </div>
</div>