.ui.menu {
    background-color: #3498db;
}

.ui .item {
    color: white;
}

.ui .item:hover {
    color: white;
}

.ui.menu .item>.floating.label {
    position: absolute;
    left: 41px;
    top: 4px;
    padding: 4px;
}

.ui .card {
    background: #fff;
}

.card {
    width: 600px !important;
    height: 730px;
}

.description {
    padding: 12px;
}

i.icon.outline {
    margin-left: 5px;
}

.profile-description {
    position: absolute;
    left: 68px;
    top: 14px;
    font-size: small;
    line-height: initial;
}

.section {
    background-color: #EEEEEE;
    padding: 27px;
}

.section .value {
    color: #1A237E;
}


.ui .grid {
    margin: 0;
    color: #34495e;
}

.post-card {
    height: 105px;
}

.left-panel {
    position: absolute;
    margin-left: 185px;
    width: 239px;
}

p.pavilions {
    font-size: medium;
}

span.pavilions-list {
    position: relative;
    margin-left: 12px;
    top: -8px;
}


.add-pavilions {
    margin-left: 114px;
}